body {
    width: 1440px;
    height: 100vh;
    margin: 0 auto;
}

ul,
ol {
    list-style: none;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 24px 156px;
}

.gallery-image {
    width: 360px;
    height: 100%;
}

.feedback-form {
    width: 408px;
    min-height: 296px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.form-input {
    width: 360px;
    min-height: 40px;
    border-radius: 4px;
    border: 1px solid #808080;
    margin-top: 8px;
    margin-bottom: 8px;
}

.form-input:hover {
    border: 1px solid #000;
}

.form-text {
    width: 360px;
    min-height: 80px;
    border-radius: 4px;
    border: 1px solid #808080;
    margin-top: 8px;
    margin-bottom: 16px;
    resize: none;
}

.form-text:hover {
    border: 1px solid #000;
}

.feedback-form label {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.form-button {
    width: 95px;
    height: 40px;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    background-color: #4E75FF;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.form-button:hover {
    background-color: #6C8CFF;
}